body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desc {
    margin: 0 auto;
    width: 600px;
}

#videoDiv {
    display: none;
}

#videoPlayer {
    width: 100%;
    margin: 0 auto;
}

#quizDiv {
    width: 100%;
}

.quiz {
    margin: 0 auto;
    width: 60%;
}

.context {
    margin: 0 auto;
    width: 50%;
}

.quizDivider {
    margin: 0 auto;
    width: 50%;
}

#video12 {
    display: none;
}

#video21 {
    display: none;
}

#video22 {
    display: none;
}

#video31 {
    display: none;
}

#video32 {
    display: none;
}

#video41 {
    display: none;
}

#video42 {
    display: none;
}

#video51 {
    display: none;
}

#video52 {
    display: none;
}

#page11 {
    display: none;
}
#page12 {
    display: none;
}
#page21 {
    display: none;
}

#page22 {
    display: none;
}
#page31 {
    display: none;
}

#page32 {
    display: none;
}
#page41 {
    display: none;
}

#page42 {
    display: none;
}
#page51 {
    display: none;
}

#page52 {
    display: none;
}

#results {
    display: none;
    width: 600px;
    margin: 0 auto;
}